{{add-todo onAdd=(action 'addTodo')}}

<ul class="checkbox-list">
{{#each todos as |todo|}}
  <li>
  	<label class={{if todo.checked "checked"}}>
  	{{input type="checkbox" checked=todo.checked}}{{ todo.text }}</label>
  </li>
{{/each}}
</ul>